body {
  background-color: #444;
  background-image: url(6f508838c953398c8442e2a965bf1a4f.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3E6;
  color: #fff;
  font-size: 1.8em; }

